.nisseBrevet {
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
    padding: 20px;
}

.nisseBus {
    background: rgba(255, 0, 0, 0.2);
    padding: 20px;
}

/* 
.nisseUppdrag {}
.nisseHjarteglitter {}
.nisseRecept {}
.nissePuzzle {} 
*/