/* Rubriker i komponenter */
h1, h2, h3, h4, p {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    color: var(--color-text);
    margin-top: var(--space-smce);
    margin-bottom: var(--space-smce);
    text-align: center;
}
h3{
    margin-top: var(--space-sm) 0 var(--space-sm) 0; 
    font-weight: 700;        /* gör rubriken FET */
    text-transform: uppercase; /* gör ALLA bokstäver STORA */
    
}
/* Nissebrevet */
.nisseBrevet {
    background-color: var(--color-bg);
    border-radius: var(--radius-lg);
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* Startskärmen */
.start-screen, button{
    background-color: var(--color-bg);
    padding: var(--space-sm);
    border-radius: var(--space-md);
    text-align: center;
    color: var(--color-text);
    width: 80%;
    margin: var(--space-lg) var(--space-lg) var(--space-lg) var(--space-lg);
    box-shadow: var( --color-box-shadow);
    font-family: "schoolbell", cursive;
}

/* Bilder i komponenter */
img {
    width: 200px;
    bottom: 20px;
}

/* Knapp: öppna dagens lucka */
.open-btn {
    margin-top: var(--radius-lg);
    padding: var( --space-md) var( --space-md);
    border: none;
    border-radius: var(--radius-md);
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: 1.2rem;
    cursor: pointer;
        /* Lägger till tydlig kontrast mot bakgrundsbild */
    backdrop-filter: brightness(1.2);
    box-shadow: var(--color-box-shadow);
    border: 2px solid var(--color-secondary);

    transition: transform .2s ease, background-color .2s ease;
}

.open-btn:hover,
.open-btn:focus {
    background-color: var(--color-primary);
    transform: scale(1.05);
}
.open-btn:focus-visible {
    outline: 3px solid #ffd07a;
}

.open-btn:active {
    transform: scale(0.98);
}


.nisseStyle {
border-radius: 15px;
font-family: "Indie Flower", cursive;
background-color: var(--color-bg);
gap: 20px;
padding: 10px;
margin-top: 50px;

}
.nisse-divider {
    width: 80%;               /* gör den centrerad och responsiv */
    margin: 2px auto 5px;   /* centrerar och ger luft */
    border: none;             /* ta bort standard-stil */
    border-top: 2px solid rgba(255, 255, 255, 0.7);  /* snygg linje */
}