html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    display: grid;
    padding: 20px;
}

.container {
    display: grid;
    justify-items: center;
}

.container-nisse {
    display: flex;
    justify-content: center;
}

/* Wrapper för dagens lucka */
#todayLucka {    
    display: none;
    width: 80%;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

#todayLucka.hidden {
    display: none;
}

#todayLucka.visible {
    display: grid;
}
