/* 2️⃣ layout.css
→ placering och grid ska gälla för allt */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    display: grid;
    padding: 10px;
}
.hero-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../bilder/hero_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.container {
    display: grid;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.container-nisse {
    display: flex;
    justify-content: center;
}

/* Wrapper för dagens lucka */
#todayLucka {    
    display: none;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 90%;
    padding: 0px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-items: center;
    line-height: 1.2;
    gap: 20px 30px;
}

#todayLucka.hidden {
    display: none;
}

#todayLucka.visible {
    display: grid;
}
