/* 2️⃣ layout.css
→ placering och grid ska gälla för allt */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    display: grid;
    padding: 10px;
}

.container {
    display: grid;
    justify-items: center;
}

.container-nisse {
    display: flex;
    justify-content: center;
}

/* Wrapper för dagens lucka */
#todayLucka {    
    display: none;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 70%;
    padding: 30px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-items: center;
    line-height: 1.2;
    gap: 20px 20px;
}

#todayLucka.hidden {
    display: none;
}

#todayLucka.visible {
    display: grid;
}
