 /* ===============* ADVENTSKALENDER *================= */
#adventImg {
    width: 40px;
    position: fixed;
    bottom: 100px;
    right: 30px;
    cursor: pointer;
    z-index: 1000;
}
.advent-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#advent-kalender {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  height: 80%;
  background-color: var(--color-bg);
  border-radius: var(--radius-md);
  box-shadow: var(--color-box-shadow);
  padding: var(--space-md);
  overflow-y: auto;
  z-index: 1001;
}


